@charset "utf-8";
@use "sass:color";


@function light($color) {
  $new-color: scale-color($color, $lightness: 10%);
  @return $new-color;
}

@function dark($color) {
    $new-color: scale-color($color, $lightness: -10%);
    @return $new-color;
}

// Set your brand colors
$green: #4BBE87;
$blue: #4D84C3;
$yellow: #E3B505;
$orange: #FF6B35;
$white: #FFFFFF;

$red: #A31621;
$danger: $red;

$grey-lighter: #F7F7F7;
$grey-light: #f1f1f1;
$grey: #7a7a7a;
$grey-hover: #888888;
$grey-dark: #bbb; // #9c9c9c;
$grey-darkest: #2A2A2A;
$grey-darker: light($grey-darkest);

$black: #000;

$darken: rgba(0,0,0,0.1);

// Update Bulma's global variables
$family-sans-serif: 'Lexend Deca', sans-serif;
$primary: $blue;
$link: $grey-dark;
$link-hover: $blue;

$text: $white;
$title-color: $white;
$subtitle-color: $white;

$table-color: inherit;
$table-cell-heading-color: inherit;
$table-head-cell-color: inherit;
$table-background-color: transparent !default;
$table-cell-border: 1px solid transparent !default;

$input-grey: #eee;
$input-grey-light: #f5f5f5;
$input-grey-dark: #ddd;

$input-border-color: #eeeeee;
$input-background-color: #eeeeee;
$input-shadow: none;
$input-focus-box-shadow-size: 0;

* {
    box-sizing: border-box;
}

// Modal minimal setup
$transition-duration: .3s;
$transition-duration-newsPaper: .7s;
$transition-duration-3dslit: .5s;

$modal-perspective: 1300px;
$modal-bg-color: rgba($black,.86);

@import "components/_normalize";
@import "components/_reset";
@import "components/_include-media.scss";
@import "flexboxgrid.scss";

// import modal-fx component
@import "components/modal-fx";

@import "falk.sass";
@import "control-bar.sass";
@import "menus.sass";
@import "audio-wave.sass";
@import "components/_include-media-hidden-classes";