@charset "utf-8";
@use "sass:color";


@function light($color) {
  $new-color: scale-color($color, $lightness: 10%);
  @return $new-color;
}

@function dark($color) {
    $new-color: scale-color($color, $lightness: -10%);
    @return $new-color;
}

:root {
  --blue: #4A6FA5;
  --blue-light: #C0D6DF;
  --blue-dark: #465b7a; //#405678;
  --white: #FFFFFF;
  --black: #000000; // not used
  --green: #75BBA7; // not used
  --orange: #FF6B35; // not used
  --red: #F87060;
  --red-light: #c01a27;
  --yellow: #EFCB68; // not used
  --yellow-light: #e7dfca;
  --yellow-dark: #AC9969;
  --yellow-darkest: #9b895d;

  --primary: var(--blue);
  --primary-light: var(--blue-light);
  --danger: var(--red);
  --danger-light: var(--red-light);
  --success: var(--green); //not used
  --warning: var(--yellow); //not used

  --darken: rgba(0,0,0,0.1);

  --gray-lighter: #F7F7F7;
  --gray-light: #f1f1f1;
  --gray-mid: #d5d5d5;
  --gray: #7a7a7a;
  --gray-hover: #888888;
  --gray-dark: #bbbbbb;
  --gray-quite-dark: #6f6f6f;
  --gray-darker: #3f3f3f;
  --gray-darkest: #2A2A2A;

  --background-color: var(--blue-dark);
  --text-color: var(--white);
  --subtitle-color: var(--blue-light);

  --menu-background: var(--gray-darker);
  --menu-text: var(--white);

  --icon-background: var(--gray-darkest);

  --highlight-background: var(--gray-darker);

  --input-background: var(--gray-quite-dark);

  --control-bar: var(--blue); // a shade darker than the sidebar for differentiation

  --brand-logo: var(--primary);
  --brand-inner: var(--white);  
}
html.light {
  --background-color: var(--white);
  --text-color: #5d5d5d;
  --subtitle-color: var(--gray-hover);

  --menu-background: var(--primary);
  --menu-text: var(--gray-darker);

  --icon-background: var(--gray-dark);

  --highlight-background: var(--gray-light);

  --input-background: var(--gray-mid);

  --control-bar: var(--gray-lighter);

  --brand-logo: var(--white);
  --brand-inner: var(--primary);
}

$family-sans-serif: 'Lexend Deca', sans-serif;

* {
    box-sizing: border-box;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

// Modal minimal setup
$transition-duration: .3s;
$transition-duration-newsPaper: .7s;
$transition-duration-3dslit: .5s;

$modal-perspective: 1300px;
$modal-bg-color: rgba(var(--black),.86);

@import "components/_normalize";
@import "components/_reset";
@import "components/_include-media.scss";
@import "flexboxgrid.scss";

// import modal-fx component
@import "components/modal-fx";

@import "falk.sass";
@import "control-bar.sass";
@import "menus.sass";
@import "audio-wave.sass";
@import "components/_include-media-hidden-classes";