//this contains the left hand menu
aside.menu
  height: 100%
  background: var(--background-color)
  color: var(--menu-text)
  position: fixed
  top: 0
  left: 0
  width: 190px
  z-index: 2
  transition: width 250ms

  .feather
    stroke: var(--menu-text)

  .image.menu-brand
    width: 55px
    height: auto
    margin: 40px auto
    svg
      width: 100%
      height: auto
      path
        fill: var(--brand-logo)
      circle
        fill: var(--brand-inner)
 
  .menu-label, .menu-list a
    color: #ffffff
    letter-spacing: inherit
    text-transform: none
    
  .menu-list a
    display: flex
    width: 100%
    padding: 18px 0 18px 30px
    background: transparent
    transition: background 200ms linear
    &:focus
      outline: none
    &:hover
      background: rgba(255,255,255,0.2)
      text-decoration: none
    &.router-link-active
      .feather
        stroke: var(--primary)

  .detail
    display: inline-block
    margin-left: 14px
    line-height: 1.7

  @include media("≤tablet")
    background: var(--menu-background)
    width: 90px
    left: -90px
    transition: 250ms
    &.is-active
      transition: 250ms
      left: 0
    .detail
      display: none
    .menu-list a
      padding: 18px 0
      .feather
        margin: 0 auto
