//this contains the left hand menu
aside.menu
  height: 200px
  position: fixed
  top: 0
  left: 0
  width: 100vw
  color: var(--menu-text)
  z-index: 2

  .feather
    display: none
    stroke: var(--menu-text)
    transition: stroke ease 0.3s

  .image.menu-brand
    display: inline-block
    width: 55px
    height: auto
    svg
      width: 100%
      height: auto
      path
        fill: var(--white)
      circle
        fill: var(--primary)
 
  .menu-label, .menu-list a
    color: var(--menu-text)
    letter-spacing: inherit
    text-transform: none

  .menu-list
    display: inline-flex
    flex-direction: row

  .menu-list a
    display: flex
    width: 100%
    padding: 18px 0 18px 30px
    border-radius: 15px
    background: transparent
    transition: background 200ms linear
    .detail
      display: inline-block
      font-size: 16px
      &:before
        content: ''
        position: absolute
        bottom: 2px
        left: 0
        height: 3px
        width: 0
        background-color: var(--primary)
        transition: width ease 0.3s
    &:focus
      outline: none
    &:hover
      .detail
        color: var(--yellow)
      //  position: relative
      //  &:before
      //    width: calc(100% + 10px)
      //    transition: width ease 0.3s
      text-decoration: none
    &.router-link-active
      .feather
        stroke: var(--primary)
        transition: stroke ease 0.3s
      .detail
        color: var(--white)
        &::after
          content: ''
          display: block
          width: 100%
          height: 3px
          top: 2px
          left: 0
          background: var(--yellow)

  @include media("≤tablet")
    height: 100%
    background: var(--menu-background)
    width: 90px
    left: -90px
    transition: 250ms
    &.is-active
      transition: 250ms
      left: 0

    .image.menu-brand
      display: block
      margin: 40px auto
      svg
        path
          fill: var(--brand-logo)
        circle
          fill: var(--brand-inner)
    .menu-list
      display: flex
      flex-direction: column
    .menu-list a
      padding: 18px 0
      .detail
        display: none
      .feather
        display: unset
        margin: 0 auto

html.light aside.menu .image.menu-brand svg
  path
    fill: var(--primary)
  circle
    fill: var(--background-color)
